name = "tganime"
main = "dist/index.js"
compatibility_date = "2023-05-18"

[build]
command = "bun run build"
watch_dir = "src"

# Cron Triggers
# Docs: https://developers.cloudflare.com/workers/platform/triggers/cron-triggers/
# Configuration: https://developers.cloudflare.com/workers/wrangler/configuration/#triggers
[triggers]
crons = ["*/10 * * * *"]

[[d1_databases]]
binding = "DB"
database_name = "tganime"
database_id = "<unique-ID-for-your-database>"